<h1> Results </h1>

<% for(let i = 0; i < data.length; i++){ %>
    <ul>
        <li><strong> <%= data[i].Title %></strong> - <em><%= data[i].Year %></em> </li>
    </ul>
<% } %>

<a href='/'> Back to Search </a>